################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ImitationOnlineOrdering.slnx
/ImitationOnlineOrdering/obj
