################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ImitationOnlineOrdering.slnx
/ImitationOnlineOrdering/obj
/.vs/ImitationOnlineOrdering/CopilotIndices/18.3.511.5503
/ImitationOnlineOrdering/bin/Debug/net10.0
/.vs/ImitationOnlineOrdering/CopilotIndices/18.4.111.64248
/ImitationOnlineOrderingDatabase/bin/Debug
/ImitationOnlineOrderingDatabase/obj/Debug
/ImitationOnlineOrderingDatabase/ImitationOnlineOrderingDatabase.sqlproj.user
/.vs/ProjectEvaluation
/ImitationOnlineOrderingTest/obj
/ImitationOnlineOrderingTest/bin/Debug/net10.0
/ImitationOnlineOrderingDatabase/ImitationOnlineOrderingDatabase.dbmdl
/ImitationOnlineOrderingDatabase/ImitationOnlineOrderingDatabase.jfm
/.vs/CopilotSnapshots/*
/.vs/ImitationOnlineOrdering/CopilotIndices/18.5.39187.10602
