################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ImitationOnlineOrdering.slnx
/ImitationOnlineOrdering/obj
/.vs/ImitationOnlineOrdering/CopilotIndices/18.3.511.5503
/ImitationOnlineOrdering/bin/Debug/net10.0
/identity-client-web-app/bin/Debug/net10.0
/identity-client-web-app/obj
